/*main tags*/
html{
	min-height:100%;
}
body{
	margin:0px;
	height:100%;
}

/*selection and selectionText*/
.selections{
	position:fixed;
	width:200px;
	height:100px;
	background-color:rgba(222,184,135,0.5);
}
.selectionsText{
	position:absolute;
	width:200px;
	height:20px;
	text-align:center;
	white-space:nowrap;
}
.top{top:0px;}
.left{left:0px;}
.right{right:0px;}
.bottom{bottom:0px;}
.top.selections{left:calc(50% - 100px);}
.left.selections{top:calc(50% - 50px);}
.right.selections{top:calc(50% - 50px);}
.bottom.selections{left:calc(50% - 100px);}
.top.selectionsText{left:calc(50% - 100px);text-align:center;}
.left.selectionsText{top:calc(50% - 20px);text-align:left;}
.right.selectionsText{top:calc(50% - 0px);text-align:right;}
.bottom.selectionsText{left:calc(50% - 100px);text-align:center;}

/*control menu*/
.controlMenu{
	position:absolute;
	width:200px;
	left:calc(50% - 100px);
	top:calc(50% - 100px);
	border:solid 1px black;
}
.controlMenuTitle{
	height:20px;
	padding-left:5px;
	line-height:20px;
	background-color:grey;
}
.controlMenuItem{
	height:20px;
	padding-left:5px;
	line-height:20px;
	border-top: solid 1px grey;
}
.controlMenuItem:hover{
	background-color:lightGrey;
